<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <h1 class="text-center">Maria Lytle Music</h1>
    </div>
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <%= image_tag "background.jpg", class: "img-responsive" %>
    </div>
    <div class="col-md-3 mobile-margin-10">
      <h3>About</h3>
      <p>Singing, guitar and ukulele playing, loop pedals, and songwriting...the good stuff.</p>
      <h3>Influences</h3>
      <p>Sara Bareilles, Ingrid Michaelson, Lucy Shwartz, A Fine Frenzy, Matt Corby, Brooke Fraser, Mat Kearney</p>
      <h3>Artists We Also Like</h3>
      <p>Dana Alexandra, Kingsfoil, Mackenzie Groff, Caroline Rose</p>
    </div>
  </div>
</div>
