<div class="row">
  <div class="col-md-12">
    <h3>Contact</h3>
    <p>For questions about me or the mythical creatures of Australia, feel free to email me at <%= link_to "music@marialytle.com", "mailto:music@marialytle.com", target: :blank %></p>
  </div>
</div>
