<div class="row">
  <div class="col-md-12">
    <h3>About Me</h3>
    <p>Singing, guitar and ukulele playing, loop pedals, and songwriting</p>
    <h3>Influences</h3>
    <p>Sara Bareilles, Ingrid Michaelson, Lucy Shwartz, A Fine Frenzy, Matt Corby, Brooke Fraser, Mat Kearney</p>
  </div>
</div>
