/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "bootstrap/variables";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

.content {
  margin-top: 20px;
  text-align: center;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  margin-top: 0;
  font-size: 48px;
  letter-spacing: 24px;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  letter-spacing: 12px;
  text-transform: uppercase;
}
h3 {
  margin-top: 30px;
  font-size: 18px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

@media screen and (max-width: $grid-float-breakpoint) {
  .content {
    margin-top: 0;
  }

  h1 {
    letter-spacing: 12px;
  }
  h2 {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  h3 {
    margin-top: 20px;
  }
}
