/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
@import "font-awesome";

body {
  margin-top: 50px;
  padding-top: 20px;
}
h1 {
  margin-top: 0;
}

#facebook {
  margin-top: 50px;
  padding-top: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 410px;
  text-align: center;
  height: 100%;
  overflow-y: scroll;
}

#youtube {
  margin-right: 410px;
}

@media (max-width: $screen-sm) {
  #facebook {
    margin-top: 0;
    padding-top: 0;
    position: relative;
    width: 100%;
    text-align: center;
    overflow-y: inherit;
  }

  #youtube {
    margin-right: 0;
  }
}

.youtube-box {
  cursor: pointer;
}
.youtube-link {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -28px;
  .fa {
    font-size: 29px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;
    background-color: #cc181e;
    border-radius: 50%;
  }
}
.youtube-image {
  width: 100%;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.width-50p {
  width: 50%;
}
.width-100p {
  width: 100%;
}

@media (max-width: $screen-sm) {
  .mobile-margin-10 {
    margin: 10px;
  }
}
