@import "bootstrap/variables";

.header {
  width: 100%;
  position: relative;
  img {
    width: 100%;
  }
  div {
    position: absolute;
    color: white;
    top: 40%;
    left: 0;
    right: 0;
    -webkit-text-stroke: 1px black;
    text-align: center;
  }
}

@media screen and (max-width: $grid-float-breakpoint) {
  .header {
    height: 200px;
    background: image-url("background.jpg") no-repeat;
    background-position: center top;
    background-size: cover;
    img {
      display: none;
    }
    div {
      top: 10px;
      bottom: 0;
    }
    h2 {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
