.header {
  width: 100%;
  position: relative;
  h1 {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    margin-top: 0;
    font-size: 48px;
    letter-spacing: 24px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 24px;
    letter-spacing: 12px;
    text-transform: uppercase;
  }
  img {
    width: 100%;
  }
  div {
    position: absolute;
    color: white;
    top: 40%;
    left: 0;
    right: 0;
    -webkit-text-stroke: 1px black;
    text-align: center;
  }
}

@include media-breakpoint-down(md) {
  .header {
    height: 200px;
    background: url("~assets/images/background.jpg") no-repeat;
    background-position: center top;
    background-size: cover;
    div {
      top: 10px;
      bottom: 0;
    }
    h1 {
      letter-spacing: 12px;
    }
    h2 {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-top: 10px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img {
      display: none;
    }
  }
}
